<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ACED</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="CSS/style.css" rel="stylesheet">
	<!-- <link href="CSS/style2.css" rel="stylesheet"> -->
</head>
<!-- onunload="endDemo()" -->
<body style="overflow: scroll;">
	<div class="container">
		<h1 class="title centered">ACED Solutions</h1>
		<h5 class="title centered">Feel the music.</h5>
		<div class="row">
			<div class="col" id="media-player">
				<iframe id="spotifyPlayer" src="https://open.spotify.com/embed/user/<%= user_id %>/playlist/<%= playlist_id %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
				<button class="btn btn-primary" style="margin-top: 60px; margin-bottom: 6px;" onclick="endDemo();">End Demo</button>
				<p id="thankyou" class="title">Thank you for your participation!</p>
			</div>
			<div class="col col-centred">
				<button id="beginDemo" class="btn btn-success" onclick="startWebcam();">Begin Demo</button>
				<!-- <button class="btn btn-success" onclick="logEmotion();">Log Emotions</button> -->
				<video class="video-padded" width="400em" height="300em" id='vid'></video>
			</div>
			<div class="col">
				<p id="instructions">Click play in the Spotify playlist on the lefthand side, then click "Begin Demo" button.<p>
				<p id="instructions">Ensure your face is visible by the webcam.<p>
				<p id="instructions">When the music stops (every 15 mins), please select how strongly you felt each emotion. <b>Please make the sum of values 10.</b></p>
				<p id="instructions">Submit your results and then repeat instructions with the updated playlist!</p>
				<div class='userInput'>
					<p id="emotionTag">Happiness</p>
					<input list="happiness" id="happy">
				  	<datalist id="happiness">
					    <option data-value="1" value="1">
					    <option data-value="2" value="2">
					    <option data-value="3" value="3">
					    <option data-value="4" value="4">
					    <option data-value="5" value="5">
					    <option data-value="6" value="6">
					    <option data-value="7" value="7">
					    <option data-value="8" value="8">
					    <option data-value="9" value="9">
					    <option data-value="10" value="10">
				  	</datalist>
			  		<br>
				</div>
			 
			 	<div class='userInput'>
			 		<p id="emotionTag">Neutrality</p>
				  	<input list="neutrality" id="neutral">
					  	<datalist id="neutrality">
						    <option data-value="1" value="1">
						    <option data-value="2" value="2">
						    <option data-value="3" value="3">
						    <option data-value="4" value="4">
						    <option data-value="5" value="5">
						    <option data-value="6" value="6">
						    <option data-value="7" value="7">
						    <option data-value="8" value="8">
						    <option data-value="9" value="9">
						    <option data-value="10" value="10">
					  	</datalist>
				  	<br>
			 	</div>
			  	
			  	<div class='userInput'>
			  		<p id="emotionTag">Sadness</p>
			  		<input list="sadness" id="sad">
				  	<datalist id="sadness">
					    <option data-value="1" value="1">
					    <option data-value="2" value="2">
					    <option data-value="3" value="3">
					    <option data-value="4" value="4">
					    <option data-value="5" value="5">
					    <option data-value="6" value="6">
					    <option data-value="7" value="7">
					    <option data-value="8" value="8">
					    <option data-value="9" value="9">
					    <option data-value="10" value="10">
				  	</datalist>
			  	</div>
			  	<button id="submitResponse" class="btn btn-success" style="margin-bottom: 6px;" onclick="logUserResponse();">Submit</button>
			  	<p id="confirmSubmit" class="title" style="visibility: hidden">Successful Submit - please start the new playlist and click "Begin Demo"</p>
			</div>
		</div>
		<div class="row chart-padded" id="chart">
			<canvas width="300" height="70" id="emotionChart"></canvas>
		</div>
	</div>
</body>

<!-- Add Scripts -->
<script src="JS/jquery-3.3.1.js"></script>
<script src="JS/emojiAnimate.js"></script>
<script src="JS/emotionChart.js"></script>
<!-- Link external Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<!-- <script src="JS/emotionChart.js"></script> -->

</html>