#bottomRow {
	height: 50%;
}

#chart {
	visibility: hidden;
}

#title {
	text-align: center;
	padding-bottom: 1em;
}

#instructions {
	color: rgba(255,255,255,0.8);
	margin-bottom: 8px;
}

#media-player {
	padding-top: 1.5em;
	text-align: center;
}

#emotionTag {
	margin-bottom: 8px;
	color: rgba(255,255,255,0.8);
}

.container {
	min-height: 100%;
}

.row {
	padding-top: 15px;
	min-height: 50%;
	display: flex;
}

.centered {
	text-align: center;
}

.title {
	color: rgba(255,255,255,0.8);
}

.col-centred {
	display:inline-block;
	float:none;
	text-align: center;
}

.emoji-padded {
	margin-top: -80px;
}

.video-padded {
	margin-top: 35px;
}

html, body {
	height: 100%;
}

body {
	background: linear-gradient(to left, #7b4397, #ff667f);
}

h1 {
	padding-top: 30px;
}

br {
	padding-bottom: 20px;
}

div .userInput {
	padding-bottom: 16px;
}