body {
	background: linear-gradient(to left, #7b4397, #ff667f);
}

.row {
	height: 50%;
}

#title {
	text-align: center;
	padding-top: 2em;
}

#media-player {
	padding-top: 1.5em;
	text-align: center;
}

.centered {
	text-align: center;
}

.aced-colour {
	color: rgba(255,255,255,0.8);
}

